// HindSiliguri FONT
@font-face {
    font-family: "HindSiliguri-Regular";
    src: url("./assets/fonts/HindSiliguri-Regular.ttf");
}
@font-face {
    font-family: "HindSiliguri-Medium";
    src: url("./assets/fonts/HindSiliguri-Medium.ttf");
}
@font-face {
    font-family: "HindSiliguri-SemiBold";
    src: url("./assets/fonts/HindSiliguri-SemiBold.ttf");
}
@font-face {
    font-family: "HindSiliguri-Bold";
    src: url("./assets/fonts/HindSiliguri-Bold.ttf");
}

// Rajdhani FONT
@font-face {
    font-family: "Rajdhani-Regular";
    src: url("./assets/fonts/Rajdhani-Regular.ttf");
}
@font-face {
    font-family: "Rajdhani-Medium";
    src: url("./assets/fonts/Rajdhani-Medium.ttf");
}
@font-face {
    font-family: "Rajdhani-SemiBold";
    src: url("./assets/fonts/Rajdhani-SemiBold.ttf");
}
@font-face {
    font-family: "Rajdhani-Bold";
    src: url("./assets/fonts/Rajdhani-Bold.ttf");
}